$button-default-color:white !default;
$button-default-background-color:#347A34 !default;
$button-large-text-padding: 15px;
$button-default-border-color:#51A351 #51A351 #458B45;
$button-large-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;