/** 
border-left: 1px solid #99BBE8;
border-right: 1px solid #99BBE8;
 */
 
 .block-holder .h3, .block-holder.h3 {
    color: #007DC3;
    font: 16px Arial,Helvetica,sans-serif;
    margin: 0;
}
 
.x-mask.splashscreen {
	background-color: white;
	opacity: 1;
}

.index_top {
	height: 82px;
	left: 0;
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 100;
}

.head_bg {
	background: url("../icons/bg.png") repeat scroll 0 0 transparent;
	height: 85px;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.left_logo {
	left: 20px;
	position: absolute;
	top: 13px;
	width: 300px;
	z-index: 100;
}

.search_welcome {
	position: absolute;
	top: -10px;
	right: 0px;
	height: 40px;
	z-index: 99999;
}

.search_panel {
	float: left;
	margin-top: 12px;
	padding-right: 12px;
}

#welcomeContainer {
	float: left;
	font-size: 13px;
	margin: 0 8px 0 0;
	padding-left: 20px;
	position: relative;
}

#welcomeContainer span {
	background: url("../icons/1.png") no-repeat scroll 0 -47px transparent;
	display: block;
	float: left;
	height: 16px;
	width: 18px;
}

#loginContainer {
	float: right;
	font-size: 15px;
	position: relative;
}

#loginContainer a {
	text-decoration: none;
}

#loginBox {
	position: absolute;
	right: 0;
	top: 20px;
}

#loginButton {
	background: url("../icons/1.png") repeat scroll -80px 0 transparent;
	display: inline-block;
	height: 13px;
	margin: 3px 0 0 4px;
	overflow: hidden;
	width: 13px;
}

#loginButton.active {
	background-position: -80px -35px !important;
}

#shadeEm {
	background: none repeat scroll 0 0 #2583A7;
	display: none;
	height: 3px;
	position: absolute;
	right: 1px;
	top: 19px;
	width: 20px;
}

a.more {
	color: #000000;
	font-size: 13px;
	padding: 6px 20px 6px 40px;
	background-position: 18px 8px !important;
}

a.more.edit2 {
	background: url("../icons/key--pencil.png") no-repeat scroll 5px 8px
		transparent;
}

a.more.detail2 {
	background: url("../icons/magnifier-left.png") no-repeat scroll 5px 8px
		transparent;
}

a.more.help2 {
	background: url("../icons/icons_14-19.png") no-repeat scroll 5px 8px
		transparent;
}

a.more.switch2 {
	background: url("../icons/direction.png") no-repeat scroll 5px 8px
		transparent;
}

a.more.exituser {
	background: url("../icons/minus-octagon-frame.png") no-repeat scroll 5px
		8px transparent;
}

a.more.exit2 {
	background: url("../icons/door-open-out.png") no-repeat scroll 5px 8px
		transparent;
}

.msg_div {
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
}

.msg_div img {
	margin: 0;
	vertical-align: middle;
}

.msg_div a {
	margin: 0;
	vertical-align: middle;
}

.itemDiv {
	background-color: #FFFFFF;
	border: 1px solid #888;
	border-radius: 8px 0 8px 8px;
	box-shadow: 2px 2px 5px #969696;
	display: none;
	z-index: 100;
}

.itemDiv ul {
	padding: 15px 0;
}

.itemDiv ul li {
	padding: 8px 0;
}

.itemDiv li a:hover {
	color: #fff;
	background-color: #1F9CD8;
}

div.index_menu {
	left: 320px;
	position: absolute;
	top: 1px;
	width: 60%;
	z-index: 100;
}

div.menuParent {
	float: left;
	height: 81px;
	overflow: hidden;
	position: relative;
	width: 90%;
	z-index: 100;
}

div.menuPanel {
	background: url("../icons/separate_top.png") no-repeat scroll right 0
		rgba(0, 0, 0, 0);
	display: block;
	height: 77px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	z-index: 100;
}

a.menuItem {
	background: url("../icons/separate_top.png") no-repeat scroll 0 0
		transparent;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 14px;
	height: 85px;
	padding: 10px 16px;
	*width: 60px;
}

a.menuItem span {
	display: inline-block;
	height: 28px;
	padding-top: 3px;
	text-decoration: none;
}

a.menuItem_hover {
	background-color: #76C8FF;
}

a.menuItem_hover span {
	
}

a.menuItem img {
	display: block;
	height: 32px;
	margin: 0 auto;
	width: 32px;
}

.x-mask-msg.splashscreen,.x-mask-msg.splashscreen div {
	font-size: 16px;
	font-weight: bold;
	border: none;
	padding: 15px 5px 5px 5px;
	width: 320px;
	text-align: center;
	background-color: transparent;
	background-position: top center;
}

.x-splash-icon {
	background-image: url('../images/logo9.png') !important;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: -30px;
	margin-bottom: 15px;
	height: 110px;
}

.t13y-name-red {
	font-weight: bold;
	font-size: 11px;
	white-space: pre-wrap !important;
	word-wrap: break-word; /* Internet Explorer 5.5+ */; //
	background-color: #FFFF99;
	color: red;
}

.t13y-name {
	font-weight: bold;
	font-size: 11px;
	color: blue;
	white-space: pre-wrap !important;
	word-wrap: break-word; /* Internet Explorer 5.5+ */;
	/*background-color: #FFFF99; */
}

.t13y-full-address {
	font-size: 11px;
	/*color: blue; */
	white-space: pre-wrap !important;
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.bodyBk {
	background-color: #F9FAF7;
}

.title-block{
	color: #007DC3;
    font: 24px/26px Arial,Helvetica,sans-serif;
}

.block-holder-h3 {
    color: #007DC3;
    font: 16px Arial,Helvetica,sans-serif;
    margin: 0;
}

.top-border {
	border-top: 1px solid #99BBE8;
}

.bottom-border {
	border-bottom: 1px solid #99BBE8;
}

.right-border {
	border-right: 1px solid #99BBE8;
}

.normalwhite {
	white-space: pre-wrap !important;
	word-wrap: break-word;
}

.x1-grid-cell {
	background-color: #ffe2e2;
	color: #900;
}

.adult-row .x-grid-cell {
	background-color: #e2ffe2;
	color: #090;
}

#customers th {
	background-color: #A7C942;
	color: #FFFFFF;
	font-size: 1.4em;
	padding-bottom: 4px;
	padding-top: 5px;
	text-align: left;
}

#customers td,#customers th {
	border: 1px solid #98BF21;
	font-size: 1.2em;
	padding: 3px 7px 2px;
}

.university-label {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) -moz-use-text-color;
	border-image: none;
	color: #717171;
	display: inline-block;
	font-family: "sofiapro-light", Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 7px 10px 8px;
	text-decoration: none;
}

.x-message-box .x-window-body .x-box-inner {
	min-height: 110px !important;
}

/** message box */
.msg .x-box-mc {
	font-size: 14px;
}

#msg-div {
	position: absolute;
	left: 35%;
	top: 10px;
	width: 300px;
	z-index: 20000;
}

#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #d4eeca;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}

#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 15px;
}

#msg-div .msg p {
	margin: 0;
}

/** Header */
#titleHeader {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lucida Grande', Arial, Sans;
}

.capslock {
	background: url('../icons/bullet_error.png') no-repeat center left;
	padding: 2px;
	padding-left: 20px;
	font-weight: 700
}

/**iconCls Action Column */
.x-action-col-cell img {
	height: 16px;
	width: 16px;
	cursor: pointer;
}

/** flags */
.pt_BR {
	background-image: url('../flags/br.png') !important;
}

.en {
	background-image: url('../flags/us.png') !important;
}

.es {
	background-image: url('../flags/es.png') !important;
}

.zh_CN {
	background-image: url('../flags/zh_cn.png') !important;
}

/** Icons */
.key {
	background-image: url('../icons/key.png') !important;
}

.key-go {
	background-image: url('../icons/key_go.png') !important;
}

.cancel {
	background-image: url('../icons/cancel.png') !important;
}

.save {
	background-image: url('../icons/disk.png') !important;
}

.add {
	background-image: url('../icons/add.png') !important;
}

.edit {
	background-image: url('../icons/pencil.png') !important;
}

.delete {
	background-image: url('../icons/delete.png') !important;
}

.logout {
	background-image: url('../icons/door_in.png') !important;
}

.sitemap {
	background-image: url('../icons/sitemap_color.png') !important;
}

.home {
	background-image: url('../icons/house.png') !important;
}

.menu_admin {
	background-image: url('../icons/folder_user.png') !important;
}

.menu_groups {
	background-image: url('../icons/group_key.png') !important;
}

.menu_profile {
	background-image: url('../icons/user_edit.png') !important;
}

.menu_users {
	background-image: url('../icons/group_edit.png') !important;
}

/** chapter 06 icons */
.menu_staticdata {
	background-image: url('../icons/database_table.png') !important;
}

.menu_actor {
	background-image: url('../icons/vcard.png') !important;
}

.menu_category {
	background-image: url('../icons/tag_green.png') !important;
}

.menu_language {
	background-image: url('../icons/flag_yellow.png') !important;
}

.menu_city {
	background-image: url('../icons/briefcase.png') !important;
}

.menu_country {
	background-image: url('../icons/world.png') !important;
}

.save_all {
	background-image: url('../icons/disk_multiple.png') !important;
}

.clear_filter {
	background-image: url('../icons/filter_del.gif') !important;
}

.grouping {
	background-image: url('../icons/application_view_tile.png') !important;
}

/** chapter 07 icons */
.menu_cms {
	background-image: url('../icons/book_open.png') !important;
}

.menu_films {
	background-image: url('../icons/film.png') !important;
}

.find {
	background-image: url('../icons/find.png') !important;
}

.clear {
	background-image: url('../icons/page_white_delete.png') !important;
}

.film_add {
	background-image: url('../icons/film_add.png') !important;
}

.film_edit {
	background-image: url('../icons/film_edit.png') !important;
}

/** chapter 08 icons */
.menu_reports {
	background-image: url('../icons/chart_line.png') !important;
}

.menu_salesfilmc {
	background-image: url('../icons/money.png') !important;
}

.print {
	background-image: url('../icons/icoPrint.gif') !important;
}

.pdf {
	background-image: url('../icons/pdf_icon.gif') !important;
}

.excel {
	background-image: url('../icons/ms-excel.gif') !important;
}

.image {
	background-image: url('../icons/picture.png') !important;
}

.svg {
	background-image: url('../icons/photo.png') !important;
}

.chart_pie {
	background-image: url('../icons/chart_pie.png') !important;
}

.chart_bar {
	background-image: url('../icons/chart_bar.png') !important;
}

.chart_column {
	background-image: url('../icons/chart_column.png') !important;
}

.download {
	background-image: url('../icons/download.png') !important;
}

/** chapter 09 icons */
.attach {
	background: transparent url('../icons/mail/i_attach.gif') no-repeat 3px
		3px !important;
	text-indent: -250px;
}

.flagged {
	background: transparent url('../icons/mail/flagged.png') no-repeat 3px
		3px !important;
	text-indent: -250px;
}

.flag-email {
	background: transparent url('../icons/mail/flag.png') no-repeat 3px 3px
		!important;
	text-indent: -250px;
}

.importance {
	background: transparent url('../icons/mail/priority_high.gif') no-repeat
		3px 3px !important;
	text-indent: -250px;
}

.icon-msg {
	background: transparent url('../icons/mail/page.png') no-repeat 3px 3px
		!important;
	text-indent: -250px;
}

.preview-right {
	background-image: url('../icons/mail/preview-right.gif') !important;
}

.preview-bottom {
	background-image: url('../icons/mail/preview-bottom.gif') !important;
}

.preview-hide {
	background-image: url('../icons/mail/preview-hide.gif') !important;
}

.unread {
	background: transparent url('../icons/mail/mailclose.gif') no-repeat 3px
		3px !important;
}

.read {
	background: transparent url('../icons/mail/mailopen.gif') no-repeat 3px
		3px !important;
}

.reply {
	background: transparent url('../icons/mail/reply.gif') no-repeat 3px 3px
		!important;
}

.replyall {
	background: transparent url('../icons/mail/replyall.gif') no-repeat 3px
		3px !important;
}

.fwd {
	background: transparent url('../icons/mail/mail_forward.png') no-repeat
		3px 3px !important;
}

.btn_restore {
	background-image: url('../icons/restore.png') !important;
}

.btn_commit {
	background-image: url('../icons/save.png') !important;
}

.folder-inbox {
	background: transparent url('../icons/mail/folder-inbox.png') no-repeat
		!important;
}

.folder-drafts {
	background: transparent url('../icons/mail/folder-drafts.png') no-repeat
		!important;
}

.folder-trash {
	background: transparent url('../icons/mail/folder-trash.png') no-repeat
		!important;
}

.folder-sent {
	background: transparent url('../icons/mail/folder-sent.png') no-repeat
		!important;
}

.folder-chgPwd {
	background: url("../icons/key--pencil.png") no-repeat !important;
}

.folder-editProfile {
	background: url("../icons/magnifier-left.png") no-repeat !important;
}

.folder-exit {
	background: url("../icons/door-open-out.png") no-repeat !important;
}

.folder-wfDef {
	background: url("../icons/p_6.png") no-repeat !important;
}

.folder-wfMyInst {
	background: url("../icons/p_1.png") no-repeat !important;
}

.folder-wfDeployed {
	background: url("../icons/p_2.png") no-repeat !important;
}

.folder-owner {
	background: url("../icons/o_2.png") no-repeat !important;
}

.folder-agent {
	background: url("../icons/3.png") no-repeat !important;
}

.folder-assigneed {
	background: url("../icons/o_6.png") no-repeat !important;
}

.folder-todo {
	background: url("../icons/o_11.png") no-repeat !important;
}

.folder-done {
	background: url("../icons/o_9.png") no-repeat !important;
}

.folder-userMgt {
	background: url("../icons/customer.png") no-repeat !important;
}

.folder-grpMgt {
	background: url("../icons/book_user.png") no-repeat !important;
}

.selected-node .x-grid-row-selected .x-grid-cell {
	font-weight: bold;
}

.new-mail {
	background-image: url('../icons/mail/mail_write.png') !important;
}

.send-mail {
	background-image: url('../icons/mail/email_go.png') !important;
}

.bcc {
	background-image: url('../icons/mail/mail_preferences.png') !important;
}

.boldFont .x-grid-cell {
	font-weight: bold;
	!
	important;
}

button.linkButton {
	overflow: visible; /* Shrinkwrap the text in IE7- */
	margin: 0;
	padding: 0;
	border: 0;
	color: #2B547D;
	background: transparent;
	font: inherit !important;
	/* Inherit font settings (doesn’t work in IE7-) */
	line-height: normal; /* Override line-height to avoid spacing issues */
	text-decoration: underline; /* Make it look linky */
	cursor: pointer;
	/* Buttons don’t make the cursor change in all browsers */
	-moz-user-select: text; /* Make button text selectable in Gecko */
}

/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
button.linkButton::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button.linkButton {
	overflow:visible; /* Shrinkwrap the text in IE7- */
	margin:0;
	padding:0;
	border:0;
	color: #2B547D;
	background:transparent;
	font:inherit !important; /* Inherit font settings (doesn’t work in IE7-) */
	line-height:normal; /* Override line-height to avoid spacing issues */
	text-decoration:underline; /* Make it look linky */
	cursor:pointer; /* Buttons don’t make the cursor change in all browsers */
	-moz-user-select:text; /* Make button text selectable in Gecko */
}
